@page "/Projects/{id:int}"

@using Blazor.OneClick.Components.Pages.Shared.AppProject
@using Blazor.OneClick.Components.Pages.Shared.Modals
@using Blazor.OneClick.Components.Pages.Shared.SVG
@using Blazor.OneClick.Helpers
@using Blazor.OneClick.Models
@using CloudFlare.Client.Enumerators
@using Microsoft.Extensions.Localization
@using global::OneClick.Data.Data
@using global::OneClick.Domain.Domain.Balances
@using global::OneClick.Domain.Domain.DomainModels
@using global::OneClick.Domain.Domain.OneClickProjects
@using global::OneClick.Domain.Enums.Project
@using global::OneClick.Services.Helpers
@using global::OneClick.UseCases.Intefaces.App
@using global::OneClick.UseCases.Intefaces.Balances
@using global::OneClick.UseCases.Intefaces.OneClickProjects
@using global::OneClick.UseCases.Intefaces.User

@implements IDisposable
@inject IStringLocalizer<Projects> _localize
@inject IOneClickProjectRepositoty _projectRepository
@inject IAppSettingsRepository _settingsRepository
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IAppLogger _logger;
@inject IDialogService _dialogService
@inject IUserRepository _userRepository
@inject IInvoiceService<Response<OneClickInvoice>, CopyTradingProject> _invoiceService
@inject ISnackbar _snackbar


<PageTitle>@_localize["Project"] | CopyTrader</PageTitle>

<MudPaper MinHeight="400px" MaxWidth="1300px" Outlined Class="cust-block ma-2 ma-md-4">
    @if (_isLoading)
    {
        <div style="min-height: 400px">
            <MudStack Row Wrap="Wrap.Wrap" AlignItems="AlignItems.Center" Class="my-3">
                <MudSkeleton Class="col-lg-3 d-none d-lg-block" SkeletonType="SkeletonType.Circle" Width="80px" Height="80px" />
                <MudSkeleton Class="col-lg-9 col-12" Height="80px" />
            </MudStack>
            <MudDivider />
            <MudSkeleton Height="70px" Class="my-3" />
            <MudDivider />
            <MudStack Row Wrap="Wrap.Wrap" Justify="Justify.SpaceBetween">
                <MudSkeleton Class="col-md-3 col-12" Height="280px" />
                <MudSkeleton Class="col-md-3 col-12" Height="280px" />
                <MudSkeleton Class="col-md-3 col-12" Height="280px" />
                <MudDivider />
            </MudStack>
            <MudStack Spacing="3" Row Class="my-3">
                <BinanceLogo />
                <BitgetLogo />
                <BybitLogo />
                <KucoinLogo />
                <OkxLogo />
            </MudStack>
        </div>
    }
    else
    {
        @if (_currentProject == null)
        {
            <h3>@_localize["ProjectNotFound"]</h3>
        }
        else
        {
            <ProjectHead isAdmin=_isAdmin localize="_localize" project="_currentProject" />
            <MudStack Row Justify="Justify.SpaceBetween" StretchItems="StretchItems.All" Wrap="Wrap.Wrap" Spacing="9" Class="my-7">
                @* Users *@
                <div>
                    <MudText Typo="Typo.h5" Class="mb-3">@_localize["Users"]</MudText>
                    <MudStack Row="false" Spacing="1">
                        <div class="mx-2">
                            <MudText Typo="Typo.h6" Inline Class="secondary-light">@_localize["TraderCount"]: </MudText>
                            <MudText Typo="Typo.h6" Inline Style="font-weight: bold">@_currentProject.TraderCount</MudText>
                        </div>
                        <div class="mx-2">
                            <MudText Typo="Typo.h6" Inline Class="secondary-light">@_localize["InvestorsCount"]: </MudText>
                            <MudText Typo="Typo.h6" Inline Style=" font-weight: bold">@_currentProject.UserCount</MudText>
                        </div>
                    </MudStack>

                </div>
                @* Exchanges *@
                <div>
                    <MudStack Row Spacing="2">
                        <MudText Typo="Typo.h5" Class="mb-3">@_localize["Exchanges"]</MudText>
                        <div class="mt-2">
                            <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Primary" Text="@_localize["ExchangesTitle"]">
                                <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.HelpOutline" Style="width:20px; height:20px; margin-bottom: 5px;"></MudIcon>
                            </MudTooltip>
                        </div>
                    </MudStack>

                    <MudGrid Class="ma-0">
                        @foreach (ExchangeMarket exchange in Enum.GetValues(typeof(ExchangeMarket)))
                        {
                            if (exchange == ExchangeMarket.None)
                            {
                                continue;
                            }
                            <MudItem xs="6" Class="pa-0">
                                <MudCheckBox Disabled="@GetExchangeCheckBoxState(exchange)" T="bool" @bind-Value="_exchanges[exchange]" Class="my-1" Dense Label="@exchange.ToString()" Size="Size.Small"></MudCheckBox>
                            </MudItem>
                        }

                    </MudGrid>

                </div>
                @* Other *@
                <div>

                    <MudStack Row Spacing="2">
                        <MudText Typo="Typo.h5" Class="mb-3">@_localize["OtherSettings"]</MudText>
                        <div class="mt-2">
                            <MudTooltip Arrow="true" Placement="Placement.Top" Color="Color.Primary" Text="@_localize["OtherSettingsTitle"]">
                                <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.HelpOutline" Style="width:20px; height:20px; margin-bottom: 5px;"></MudIcon>
                            </MudTooltip>
                        </div>
                    </MudStack>
                    @foreach (OtherSettings setting in Enum.GetValues(typeof(OtherSettings)))
                    {
                        <MudItem xs="6" Class="pa-0">
                            <MudCheckBox Disabled="_otherSettings[setting]" T="bool" @bind-Value="_otherSettings[setting]" Class="my-1" Dense Label="@setting.ToString()" Size="Size.Small"></MudCheckBox>
                        </MudItem>
                    }

                    <hr />
                    <MudText>@_localize["DefaultLanguage"]: <strong>@(" " + SelectedDefaultLanguege?.Name)</strong></MudText>
                    <MudStack Row="true" AlignItems="AlignItems.Center" Class="my-2">
                        <MudText>@_localize["SelectedLanguages"]: (@SelectedLanguages?.Where(x => x.Selected).Count())</MudText>
                        <MudButton OnClick="(AddLanduageDialog)" Color="Color.Primary" Class="py-0"><MudText>@_localize["AddLanguage"]</MudText> </MudButton>
                    </MudStack>


                </div>

            </MudStack>

            <MudDivider />

            <MudStack Row Wrap="Wrap.Wrap" AlignItems="AlignItems.Center" Class="my-4">

                <MudStack Spacing="5" Row Class="my-3 pa-4 rounded-lg" Style="background-color: #FFF9C4">
                    <BinanceLogo />
                    <BitgetLogo />
                    <BybitLogo />
                    <KucoinLogo />
                    <OkxLogo />
                </MudStack>
                <MudSpacer />

                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined" Color="Color.Error" OnClick="RelocateDialog">@_localize["RelocateProject"]</MudButton>

                <MudButton OnClick="SaveChanges" Class="" Color="Color.Primary" Variant="Variant.Filled">@_localize["SaveChanges"]</MudButton>
            </MudStack>


        }
    }
</MudPaper>

@if (!_isLoading && _currentProject != null)
{
    <ProjectServiceBlock IsAdmin="_isAdmin" project="_currentProject"
                         freezeBlockVisibility="@freezeBlockVisibility" runBlockVisibility="@runBlockVisibility" />
}


@code {
    [Parameter]
    [SupplyParameterFromQuery] public int? id { get; set; }

    private CancellationTokenSource? cancelTokenSource { get; set; }

    private bool _isLoading { get; set; } = true;
    private bool _isAdmin { get; set; } = true;

    List<LanguageModel>? SelectedLanguages { get; set; }
    LanguageModel? SelectedDefaultLanguege { get; set; }

    private string _projectStateColor = "Red";
    private string _projectPingColor = "Red";

    private string freezeBlockVisibility = "invisible";
    private string runBlockVisibility = "invisible";

    private CopyTradingProject? _newProject { get; set; }
    private CopyTradingProject? _currentProject { get; set; }
    private Dictionary<OtherSettings, bool> _otherSettings { get; set; } = new Dictionary<OtherSettings, bool>
    {
         {OtherSettings.Billing, false},
        {OtherSettings.CrossTrading, false},
    };
    private Dictionary<ExchangeMarket, bool> _exchanges { get; set; } = new Dictionary<ExchangeMarket, bool>
    {
        {ExchangeMarket.Binance, false},
        {ExchangeMarket.Bitget, false},
        {ExchangeMarket.BingX, false},
        {ExchangeMarket.Bybit, false},
        {ExchangeMarket.Kucoin, false},
        {ExchangeMarket.OKX, false},
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        cancelTokenSource = new CancellationTokenSource();
        CancellationToken stoppingToken = cancelTokenSource.Token;

        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        _isAdmin = Helper.CheckIsAdmin(authState);

        _currentProject = await _projectRepository.GetById(id ?? 0, true, false);

        _exchanges[ExchangeMarket.Binance] = _currentProject.Exchanges.BinanceEnabled;
        _exchanges[ExchangeMarket.Bitget] = _currentProject.Exchanges.BitgetEnabled;
        _exchanges[ExchangeMarket.BingX] = _currentProject.Exchanges.BingxEnabled;
        _exchanges[ExchangeMarket.Bybit] = _currentProject.Exchanges.BybitEnabled;
        _exchanges[ExchangeMarket.Kucoin] = _currentProject.Exchanges.KucoinEnabled;
        _exchanges[ExchangeMarket.OKX] = _currentProject.Exchanges.OkxEnabled;

        _otherSettings[OtherSettings.Billing] = _currentProject.OtherSettings.BillingEnabled;
        _otherSettings[OtherSettings.CrossTrading] = _currentProject.OtherSettings.CrossTradingEnabled;

        //языки
        SelectedDefaultLanguege = new LanguageModel { Code = _currentProject.DefaultLanguage };
        SelectedLanguages = LanguageStaff.Languages.Select(s => new LanguageModel { Code = s.code, Name = s.name }).ToList();
        SelectedLanguages[0].Selected = true;
        SelectedLanguages[1].Selected = true;

        _currentProject.Languages?.ForEach(x =>
        {
            SelectedLanguages.ForEach(s =>
            {
                if (s.Code == x.Code)
                {
                    s.Selected = true;
                }
            });

        });

        var languageResult = SelectedLanguages.Where(x => x.Code == SelectedDefaultLanguege.Code).FirstOrDefault();
        if (languageResult != null)
        {
            SelectedDefaultLanguege = languageResult;
            var ind = SelectedLanguages.FindIndex(x => x.Code == languageResult.Code);
            SelectedLanguages[ind].DefaultLang = true;
        }
        else
        {
            SelectedDefaultLanguege = new LanguageModel { Code = "ru", Name = "Русский", DefaultLang = true };
            SelectedLanguages[0].DefaultLang = true;
        }

        _newProject = Helper.GetDeepClone(_currentProject);
        _isLoading = false;
        StateHasChanged();
    }

    bool GetExchangeCheckBoxState(ExchangeMarket exchane)//выключаем чекбокс только для сохраненной биржи
    {
        switch (exchane)
        {
            case ExchangeMarket.Binance:
                if (_currentProject.Exchanges.BinanceEnabled) { return true; } else { return false; }
            case ExchangeMarket.Bitget:
                if (_currentProject.Exchanges.BitgetEnabled) { return true; } else { return false; }
            case ExchangeMarket.BingX:
                if (_currentProject.Exchanges.BingxEnabled) { return true; } else { return false; }
            case ExchangeMarket.Bybit:
                if (_currentProject.Exchanges.BybitEnabled) { return true; } else { return false; }
            case ExchangeMarket.Kucoin:
                if (_currentProject.Exchanges.KucoinEnabled) { return true; } else { return false; }
            case ExchangeMarket.OKX:
                if (_currentProject.Exchanges.OkxEnabled) { return true; } else { return false; }
            default:
                return false;
        }
    }


    async void AddLanduageDialog()
    {
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium };

        var parameters = new DialogParameters<LenguageSelectModal>();
        parameters.Add(x => x.SelectedLanguages, SelectedLanguages);
        parameters.Add(x => x.SelectedDefaultLanguege, SelectedDefaultLanguege);

        var dialog = await _dialogService.ShowAsync<LenguageSelectModal>(@_localize["LanguagesCopyTrading"], parameters, options);
        var result = await dialog.Result;
        if (result.Canceled)
        {
            SelectedDefaultLanguege = SelectedLanguages.Where(x => x.DefaultLang).FirstOrDefault();
            StateHasChanged();
        }
    }


    private void ShowTariffDialog()
    {

    }

    private void ShowDomainModal(ProjectDomain zone)
    {

    }

    private void DeleteDomainDialog(string zone)
    {

    }

    private void AddDomainDialog()
    {

    }


    private void RelocateDialog()
    {

    }

    private async void SaveChanges()
    {
        var servicesPrice = await _settingsRepository.GetServicesPrices();
        var tariffPrice = SettingsHelper.GetTariffPrices(_currentProject.Tariff, servicesPrice);

        _newProject.SetExchangeValues(_exchanges.Where(x => x.Value).Select(s => s.Key).ToList());
        _newProject.SetSettingsValues(_otherSettings.Where(x => x.Value).Select(s => s.Key).ToList());

        var editInvoiceResult = await _invoiceService.EditProjectInvoice(_newProject, _currentProject, _currentProject.Tariff);

        var walletBalance = await _userRepository.GetWalletBalanceAsync(_currentProject.Owner.Id.ToString());

        if (!editInvoiceResult.Success)
        {
            _snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
            _snackbar.Add("Изменения сохранены", Severity.Error);
            return;
        }



        var options = new DialogOptions() { CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Medium };

        var parameters = new DialogParameters<EditProjectDialog>();
        parameters.Add(x => x.ProjectInvoice, editInvoiceResult.Data);
        parameters.Add(x => x.Balance, walletBalance);
        parameters.Add(x => x.Project, _newProject);
        parameters.Add(x => x.Prices, servicesPrice);

        var dialog = await _dialogService.ShowAsync<EditProjectDialog>(_localize["ChangingProjectConfiguration"], parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {

        }
    }

    private void ReloadingData(CancellationToken stoppingToken)
    {
        Task.Run(async () =>
        {
            var cnt = 0;
            while (true)
            {
                cnt++;
                if (stoppingToken.IsCancellationRequested || cnt > 30)
                {
                    break;
                }

                //await RefreshData();

                await InvokeAsync(StateHasChanged);
                await Task.Delay(10000);

            }

        }, stoppingToken);


    }

    public void Dispose()
    {
        cancelTokenSource?.Cancel();
    }
}
