@using Blazor.OneClick.Static
@using MudBlazor
@inherits LayoutComponentBase


<MudThemeProvider Theme="@CustomTheme.MyTheme" IsDarkMode="_dark" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>

        <MudLayout>
            <MudAppBar Elevation="0" Color="Color.Tertiary">
                
                <div class="">
                    <MudStack Row>
                        <MudImage Width="40" Src="img/logo-200.png"></MudImage>
                        <MudText Typo="Typo.h5" Class="ml-3 d-none d-md-block">CopyTrader</MudText>
                    </MudStack>
                </div>

                <MudSpacer />
                <MudIconButton Icon="@_darkModeIcon" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => ThemeToggle())" />
                <MudIconButton Icon="@Icons.Material.Filled.Language" Color="Color.Inherit" Edge="Edge.End" />
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Class=" d-md-none" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => MenuToggle())" />

            </MudAppBar>


            <MudPaper Elevation="1" Height="50px" Class="d-none d-md-block px-4 py-2" Style="margin-top: 64px;" >
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Class="pa-1"  Color="Color.Inherit"  OnClick="@((e) => DrawerToggle())" />
            </MudPaper>


            <MudDrawer @bind-Open="@_open" OverlayAutoClose="true" Class="d-md-none" Height="100%" Color="Color.Tertiary" Variant="@DrawerVariant.Temporary" Anchor="Anchor.Top">
                <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="px-4">
                    <MudImage Width="30" Height="30" Src="img/logo-200.png"></MudImage>
                    <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => MenuToggle())" />
                </MudStack>

                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Surface">Dashboard</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LocalLibrary" IconColor="Color.Surface">Library</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Community</MudNavLink>
            </MudDrawer>

            <MudDrawer @bind-Open="_drawerOpen" Class="left-menu" ClipMode="DrawerClipMode.Always" Color="Color.Secondary" Elevation="1">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <MudLayout>


            @Body

        </MudLayout>
    </NotAuthorized>
</AuthorizeView>
@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    bool _drawerOpen = true;

    private bool _open = false;
    private bool _dark = false;
    private string _darkModeIcon = Icons.Material.Outlined.DarkMode;

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext == null)
        {
            return;
        }
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;       
    }

    void MenuToggle()
    {
        //_drawerOpen = !_drawerOpen;
        _open = !_open;
    }


    void ThemeToggle()
    {
        //_drawerOpen = !_drawerOpen;
        _dark = !_dark;
        if (_dark)
        {
            _darkModeIcon = Icons.Material.Filled.DarkMode;
        }
        else
        {
            _darkModeIcon = Icons.Material.Outlined.DarkMode;
        }
    }
}










@*
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
 *@