@using Blazor.OneClick.Constants
@using Blazor.OneClick.Static
@using Microsoft.Extensions.Localization
@using MudBlazor

@inject IStringLocalizer<NavMenu> localize

@* @inject NavigationManager NavigationManager *@
<style>    
    .left-menu{
        top: 114px !important;
    }

</style>

<MudNavMenu>

    <AuthorizeView Roles="@Settings.AdminRole">
        <MudNavLink Href="" Match="NavLinkMatch.All" IconColor="Color.Inherit" Icon="@Icons.Material.Filled.AutoAwesomeMotion">@localize["Projects"]</MudNavLink>
        <MudNavLink Href="servers" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.Storage">Серверы</MudNavLink>
        <MudNavLink Href="domains" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.Domain">Доменные зоны</MudNavLink>
        <MudNavLink Href="roles" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.LockPerson">Роли</MudNavLink>
        <MudNavLink Href="users" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.People">Пользователи</MudNavLink>
        <MudNavLink Href="telegramusers" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.People">Пользователи Telegram</MudNavLink>
        <MudDivider/>
        <MudNavLink Href="branding" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.DisplaySettings">Брендирование</MudNavLink>
        <MudNavLink Href="billingsettings" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.AttachMoney">Настройки биллинг</MudNavLink>
        <MudNavLink Href="transactions" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.Payment">Транзакции </MudNavLink>
        <MudNavLink Href="Invoices" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.Feed">Invoices</MudNavLink>
        <MudNavLink Href="CryptomusPayments" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.Payments">Cryptomus Payments</MudNavLink>
        <MudDivider />

    </AuthorizeView>

    <AuthorizeView Roles="@Settings.UserRole">
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="referals" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.People">@localize["Affiliateprogram"]</MudNavLink>
            <MudNavLink Href="AppUser" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>

        </Authorized>


    </AuthorizeView>
    <AuthorizeView Roles="@Settings.AdminRole">
        <MudDivider />
        <MudNavLink Href="logs" Match="NavLinkMatch.Prefix" IconColor="Color.Surface" Icon="@Icons.Material.Filled.ShortText">Лог</MudNavLink>
    </AuthorizeView>
    <AuthorizeView>
        <MudDivider />
        <div class=" my-1">
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="Account/Login" />
                <button type="submit" class="mud-nav-link my-2">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Class="me-2" Title="Logout" />
                    @localize["Exit"]
                </button>
            </form>
        </div>
    </AuthorizeView>


</MudNavMenu>

@code {
    // private string? currentUrl;
    [Parameter] public int NewTransactionCount { get; set; }

    protected override void OnInitialized()
    {
        // currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        // NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        // currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        // StateHasChanged();
    }


}

